<div class="mainimage">
<img style="width:100%;" src="pics/mainpic1.jpg" alt="none">
<!-- <div class="mainhead">
  <h2>Luxurious living at an affordable price.</h2>
</div> -->
</div>


<div class="submain">
  <div class="diamonddiv">
    <div class="diamond1">

    </div>
    <h6 class="h6diamond">Resident Care</h6>
    <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>

  <div class="diamonddiv">
    <div class="diamond1">

    </div>
    <h6 class="h6diamond">Continuing Care</h6>
    <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
  <div class="diamonddiv">
    <div class="diamond1">

    </div>
    <h6 class="h6diamond">Life Care</h6>
    <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
  <div class="diamonddiv">
    <div class="diamond1">

    </div>
    <h6 class="h6diamond">Independent Living</h6>
    <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
</div>
<div class="container2">
  <div class="row about" id="about">
    <div class="col-md-6 col-centered">
      <h2 class="aboutsign">About Us</h2>
      <p class="paratop">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    </div>



  </div>
<div class="row center">
  <div class="marginleft col-md-3 col-centered">
    <img class="pic5" src="pics/empty_gallery.png" alt="none">
    <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
  <div class="col-md-3 pad col-centered">
    <img class="pic5" src="pics/empty_gallery.png" alt="none">
    <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
  <div class="marginright col-md-3 col-centered">
    <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>
</div>
<div class="parallax"></div>
<div>
  <img class="nonparallax" src="pics/unspecified2.jpg" alt="none">
</div>
