<div class="mainimage">
<img style="width:100%;" src="pics/mainpic1.jpg" alt="none">
<!-- <div class="mainhead">
  <h2>Luxurious living at an affordable price.</h2>
</div> -->
</div>


<div class="submain">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Our Homes</h6>
        <p class="diamondpara">Our goal is to provide our residents a stimulating, mindful and sensory experience
        in a dignified, respectful environment.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Independent Living</h6>
        <p class="diamondpara">Our resident's independence is maintained and emphasized through our self awareness
        programs offering meditation, dance, art, gardening classes and workshops.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Life Care</h6>
        <p class="diamondpara">The health and wellness of our residents is a continuing priority with nutrition,
        exercise, spirituality, rest and relaxation being the pillars of the HSC way.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Environment</h6>
        <p class="diamondpara">Life style is enhanced within the HSC home with a combination of latest building
        systems and technology.</p>

    </div>
  </div>

</div>
<div class="container2">
  <div class="row about" id="about">
    <div class="col-md-6 col-centered">
      <h2 class="aboutsign">About Us</h2>
      <p class="paratop">Holistic Senior Care, LLC (HSC) was created to address the growing
        number of seniors seeking quality affordable long term care in a place they can
        truly call home.</p>
    </div>
    </div>



  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 text-center">
      <img class="pic5" src="pics/elderly2.jpg" alt="none">
      <p>HSC provides a luxurious standard of living for seniors who want to enjoy their retirement years.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <img class="pic5" src="pics/elderly3.jpg" alt="none">
        <p>HSC was founded on the belief that seniors do not have to settle for low quality housing and care.</p>

    </div>
  </div>
</div>

<div class="parallax"></div>
<div>
  <img class="nonparallax" src="pics/unspecified2.jpg" alt="none">
</div>
