<div class="mainimage">
<img style="width:100%;" src="pics/mainpic1.jpg" alt="none">
<!-- <div class="mainhead">
  <h2>Luxurious living at an affordable price.</h2>
</div> -->
</div>


<div class="submain">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Home Care</h6>
        <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Home Care</h6>
        <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Home Care</h6>
        <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="diamond1">

        </div>
        <h6 class="h6diamond">Home Care</h6>
        <p class="diamondpara">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
  </div>

</div>
<div class="container2">
  <div class="row about" id="about">
    <div class="col-md-6 col-centered">
      <h2 class="aboutsign">About Us</h2>
      <p class="paratop">Holistic Senior Care, LLC (HSC) was created to address the growing
        number of seniors seeking quality affordable long term care in a place they can
        truly call home.</p>
    </div>
    </div>



  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <img class="pic5" src="pics/elderly2.jpg" alt="none">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
    <div class="col-md-6 text-center">
      <img class="pic5" src="pics/elderly3.jpg" alt="none">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

    </div>
  </div>
</div>

<div class="parallax"></div>
<div>
  <img class="nonparallax" src="pics/unspecified2.jpg" alt="none">
</div>
