<div class="container3">
  <div class="row about" id="care">
    <div class="col-md-6 col-centered marginx">
      <h2 class="aboutsign">Care and Services</h2>
      <p class="paratop">HSC offers more than just skilled care providers, we also offer "quality
        of life component," where this phase of every senior resident's life is seen as important; and
        how to make this time beneficial and enjoyable is our primary objective.</p>
    </div>
    </div>

  <div class="row">
    <div class= "col-sm-12 col-md-4" >
      <img class="fix pic5" src="pics/food.jpg" alt="none">
      <p class="para">Part of the mission of HSC is to enhance and extend the quality
      of life of our residents through our healthy meals menu which is prepared by <body>
        our specially trained cooks. Our menu is prepared by using organic
        culinary recipes as planned by our dietary/nutrition expert consultants.
      </body></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="fix pic5" src="pics/art.jpg" alt="none">
      <p class="para">HSC offers an art program with many different
      mediums available to bring out the creative side of our residents.</p>
    </div>
    <div class="col-sm-12 col-md-4 ">
      <img class="fix pic5" src="pics/help.jpg" alt="none">
      <p style="font-size:.8em;" class="para2">Caregiving services include...</p>
      <ul class="myul">
        <li class="fun">Assistance with medical orders for daily care.</li>
        <li class="fun">Bathing, dressing and grooming assistance.</li>
        <li class="fun">Dental and oral hygiene care.</li>
        <li class="fun">Assist patient with transference.</li>
        <li class="fun">Assistance with amulation</li>
        <li class="fun">Medication reminders</li>
        <li class="fun">Meal planning, including for special dietary needs.</li>
        <li class="fun">Housekeeping and laundry services.</li>
        <li class="fun">Advocate for the clients well-being.</li>
        <li class="fun">Coordination with the family and residents.</li>
      </ul>

    </div>

  </div>
</div>
