<div class="container3">
  <div class="row about" id="care">
    <div class="col-md-6 col-centered marginx">
      <h2 class="aboutsign">Care and Services</h2>
      <p class="paratop">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    </div>

  <div class="row">
    <div class="marginleft col-md-2 col-centered">
      <img class="pic5" src="pics/empty_gallery.png" alt="none">
      <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="col-md-2 pad col-centered">
      <img class="pic5" src="pics/empty_gallery.png" alt="none">
      <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="col-md-2 pad col-centered">
      <img class="pic5" src="pics/empty_gallery.png" alt="none">
      <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    <div class="marginright col-md-2 col-centered">
      <img class="pic5" src="pics/empty_gallery.png" alt="none">
      <p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
  </div>
</div>
