<div class="container5">
  <div class="row about" id="contact">
    <div class="col-md-6 col-centered marginx">
      <h2 class="aboutsign">Contact</h2>
      <p class="paratop">Please feel free to reach out to us at phone number 877.740.4697 or info@holisticcarellc.com.
        You can also send us a message in the form below.</p>
    </div>

    </div>
    <div class="row about">
      <div class="col-sm-12 col-md-6">
        <div ng-show="thankYou" class="centerme">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2 class="lilsmaller">Thank you. We will contact you shortly.</h2>
              </div>
            <form ng-show="notHidden" class="formspace">
  <div class="form-group">
    <label>First Name</label>
    <input ng-model="first_name" name="first" type="text" class="form-control">

  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input ng-model="last_name" name="last" type="text" class="form-control">

  </div>
  <div class="form-group">
    <label>Phone Number</label>
    <input ng-model="phone_number" name="phone" type="text" class="form-control">

  </div>
  <div class="form-group">
    <label>Email address</label>
    <input ng-model="email_address" name="email" type="email" class="form-control">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>

  </div>

  <fieldset class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input ng-model="x" type="radio" class="form-check-input" name="radio" id="optionsRadios1" value="I am looking for myself." checked>
        I am looking for myself.
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input ng-model="x" type="radio" class="form-check-input" name="radio" id="optionsRadios2" value="I am looking for a friend or relative.">
        I am looking for a friend or relative.
      </label>
    </div>

  </fieldset>



  <div class="form-group">
    <textarea ng-model="anyquestions" name="question" class="form-control" id="exampleTextarea" rows="5" placeholder="Do you have a question?"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="contactsubmit()">Submit</button>
</form>
</div>
<div class="col-sm-12 col-md-6 centerit">
    <h6>Location</h6>
    <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJeXPTzfO3woARFhHqJlK-isw&key=AIzaSyAiNTGZWCfhcX6m9J8-ddgNdFScaepsGDk" allowfullscreen></iframe>
    </div>

</div>
<div class="end">
  <a href="#"><img class ="socialpic1" src="pics/fb.png" alt="none"></a>
  <a href="#"><img class ="socialpic2" src="pics/insta.png" alt="none"></a>
  <a href="#"><img class ="socialpic3" src="pics/twitter.png" alt="none"></a>
</div>
</div>
<div class="admin">
  <a ui-sref="login">Admin Portal</a>
</div>
