@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .5s
}


nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
  position: fixed;
  background-color: rgba(255,255,255,0);
}
#navbar{
  padding: 0px;
}
.logo{
  width: 50%;
  margin-top: 10px;
}

li.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}
a.navbar-brand{
  width: 50%;
}
div#toggle-menu.visible{
  margin-top: 0px;
}
.whitespace {

  height: 20px;
}

.container1 {
  text-align: center;
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 45px;
  display: inline-block;
  border: 2px inset; /* This is default border style for <hr> tag */
  margin-left: 10px;
  margin-right: 10px;
}

img {
  vertical-align:baseline;
}
.clock {
  display: inline
}

.clockp{
  display: inline-block;
  text-align: left;
}
.clocksize {

  height: 50px;
  width: 50px;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.tele {
  display: inline
}
.telep{
  display: inline-block;
  -webkit-transform: translateY(-90%);
  text-align: left;


}
.telesize {

  height: 50px;
  width: 50px;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.pin {
  display: inline
}
.pinp{
  display: inline-block;
  -webkit-transform: translateY(-30%);
  padding-left: 3px;
  text-align: left;

}
.pinsize {

  height: 50px;
  width: 30px;
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

.socialpic1 {
  height: 24px;
  width: 30px;
  -webkit-transform: translateY(-45%);

}

.socialpic2 {
  height: 30px;
  width: 30px;
  -webkit-transform: translateY(-30%);

}
.socialpic3 {
  height: 25px;
  width: 25px;
  -webkit-transform: translateY(-40%);

}

nav.navbar{
  background-color: white;
  z-index: 2;
  position: absolute;
  width: 100%;
}
.mainimage{
  background-image: url("pics/unspecified.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  height: 600px;
}

.submain{

  background-color: #f3f3f3;
  height: 400px;
  text-align: center;
}

.diamonddiv{
  display: inline-block;
  width: 20%;
  margin: 10px;
}

.h6diamond {
  margin-top: 60px;
  font-size: 1.1em;
}

.diamondpara {
  font-size: .8em;
}

.diamond1 {

  display: inline-block;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: rgba(247, 185, 0, 0.25);
  position: relative;
  top: 0px;
  margin: 0 50px 0 50px;

}

.diamond1:after {

  display: inline-block;
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: rgba(255, 193, 7, 0.63);

}
.container2 {
  margin-top: 100px;

}

.col-centered{
  float: none;
  margin: 0 auto;
}
.paratop{
  text-align: center;
  margin: auto;
  font-size: .8em;
  margin-bottom: 50px;

}
.aboutsign{
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
.para {
  font-size: .8em;
  margin-bottom: 100px;
}
.pic5 {
  width: 100%;
}
.marginleft{
  margin-left: 120px;
  margin-right: 0;
  padding: 0 0 0 0;
}
.marginright{
  margin-right: 120px;
  margin-left: 0;
  padding: 0 0 0 0;
}

.pad {
  padding: 0 0 0 0
}

.background2{
  background-image: url("pics/unspecified2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  height: 350px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);;
}
.container3 {
  background-color: rgba(247, 185, 0, 0.25);
  padding-bottom: 75px;

}
.marginx{
  margin-top: 100px;
}


.contained {
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
}

.galleryItem {
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;

  width: 16%;
  margin:  2% 2% 50px 2%;
}

.galleryItem h3 {
  text-transform: uppercase;
}

.galleryItem img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container5 {
  background-color: #222;
  color: lightgrey;
}


.centerit{
  text-align:center;
}
.formspace{
  width:80%;
  margin:auto;
  padding-bottom: 50px;
}

.admin{
  background-color: #222;
  color: lightgrey;
  padding-bottom: 20px;
  text-align: center;
  font-size: .8em;

}
/* MEDIA QUERIES*/

@media screen and (min-width:761px) and (max-width:991px){
  .navbar {
    flex-direction: row;
  }
  ul.navbar-nav.mr-auto{
    flex-direction: row;

  }
  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
@media screen and (min-width:931px) and (max-width:991px){
  button#goner.navbar-toggler.navbar-toggler-right{
    display: none;
  }
}
@media screen and (max-width: 930px) {
.marginright {
  margin-right: 30px;
}
@media screen and (max-width: 850px) {
  .diamond1 {

    display: none;

  }

  .diamond1:after {

    display: none;

  }
}
@media screen and (max-width: 760px) {
  .nav-item{
    display: none;

  }
  button#goner{
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {

  .marginleft {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    text-align: center;
  }
  .marginright {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    text-align: center;
  }
  .pad {
    text-align: center;
  }
  .pic5{
    width: 60%;
    margin-bottom: 10px;
  }
  .para{
    width: 60%;
    margin: auto;
    margin-bottom: 50px;

  }
  .paratop{
    width: 60%;
  }
}
@media screen and (max-width: 890px) {
  #none1, .none1{
    display: none;
  }
}
@media screen and (min-width: 930px) {
  .navbar-light .navbar-toggler{
    display: none;
  }
}

@media screen and (max-width: 760px) {

  .gone{
    display: none;
  }
}
@media screen and (min-width: 761px) {
  div#toggle-menu.visible {
    display: inline-block;


  }
  button#goner.navbar-toggler.navbar-toggler-right{
    display: none;
  }
}
@media screen and (max-width: 680px) {
  div.diamonddiv{
    width: 80%;
  }
  div.submain{
    height: 700px;
  }
}

@media screen and (max-width: 579px) {
  div.submain{
    height: 770px;
  }
}
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
  .galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
  .galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
  .galleryItem {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
  .galleryItem {width: 96%;}
  .galleryItem img {width: 96%;}
  .galleryItem h3 {font-size: 18px;}
  .galleryItem p, {font-size: 18px;}
}
