
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.row {
margin-right: 0;
margin-left: 0;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .5s
}
.centerme{
  text-align: center;
  padding-bottom: 100px;

}
.parallax {
    /* The image used */
    background-image: url("pics/unspecified2.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0px 100px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.nonparallax{
  display: none;

}
.signuploginform {

  max-width: 400px;
  width: 80%;
  padding: 40px;
  background-color: #222;
  color: white;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.backgrLogin{
  background-color: #A89B9D;
}

fieldset.form-group{
  border: none;
}
.mainhead{
  position: absolute;
  top: 90%;
  left: 20%;
  color: white;

}
.mainhead h2 {
  font-size: 40px;
}
iframe{
  width: 80%;
}
nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99;
}

#navbar{
  padding: 0px;
}
.logo{
  width: 50%;
  margin-top: 10px;
}

li.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}
a.navbar-brand{
  width: 50%;
}
div#toggle-menu.visible{
  margin-top: 0px;
}
.whitespace {

  height: 20px;
}

.container1 {
  text-align: center;
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 45px;
  display: inline-block;
  border: 2px inset; /* This is default border style for <hr> tag */
  margin-left: 10px;
  margin-right: 10px;
}

img {
  vertical-align:baseline;
}


.socialpic1 {
  height: 24px;
  width: 30px;
  -webkit-transform: translateY(-45%);

}

.socialpic2 {
  height: 30px;
  width: 30px;
  -webkit-transform: translateY(-30%);

}
.socialpic3 {
  height: 25px;
  width: 25px;
  -webkit-transform: translateY(-40%);

}

nav.navbar{
  background-color: white;
  z-index: 2;
  position: absolute;
  width: 100%;
}


.submain{

  background-color: #f3f3f3;
  height: 400px;
  text-align: center;
}

.diamonddiv{
  display: inline-block;
  width: 20%;
  margin: 10px;
}

.h6diamond {
  margin-top: 60px;
  font-size: 1.1em;
}

.diamondpara {
  font-size: .8em;
}

.diamond1 {

  display: inline-block;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #183142;
  position: relative;
  top: 0px;
  margin: 0 50px 0 50px;

}

.diamond1:after {

  display: inline-block;
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: green;

}
.container2 {
  margin-top: 100px;

}


.col-centered{
  float: none;
  margin: 0 auto;
}
.paratop{
  text-align: center;
  margin: auto;
  font-size: .8em;
  margin-bottom: 50px;

}
.aboutsign{
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
.para {
  font-size: .8em;
  margin-bottom: 100px;
}
.pic5 {
  width: 100%;
}
.marginleft{
  margin-left: 120px;
  margin-right: 0;
  padding: 0 0 0 0;
}
.marginright{
  margin-right: 120px;
  margin-left: 0;
  padding: 0 0 0 0;
}

.pad {
  padding: 0 0 0 0
}


.container3 {
  background-color: #f3f3f3;
  padding-bottom: 75px;

}
.marginx{
  margin-top: 100px;
}


.contained {
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
}

.galleryItem {
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;

  width: 16%;
  margin:  2% 2% 50px 2%;
}

.galleryItem h3 {
  text-transform: uppercase;
}

.galleryItem img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container5 {
  background-color: #222;
  color: lightgrey;
}


.centerit{
  text-align:center;
}
.formspace{
  width:80%;
  margin:auto;
  padding-bottom: 50px;
}

.admin{
  background-color: #222;
  color: lightgrey;
  padding-bottom: 20px;
  text-align: center;
  font-size: .8em;

}
.submitform{
  background-color: #A89B9D;
  padding-bottom: 30px;
}
.submitFormFormat{
  padding: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 2px solid black;
  border-radius: 15px;
  width: 65%;
  background-color: white;
}

img.mySlides{
  padding-bottom: 90px;
}
.w3-black {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.end{
  text-align: center;
  padding: 30px 0 30px 0;
}
/* MEDIA QUERIES*/

@media screen and (max-width: 651px){
  div.parallax.ng-scope{
    display:none;
  }
}
@media screen and (max-width: 650px){
  img.nonparallax{
    display:block;
    width:100%;
  }
}
@media screen and (min-width:651px) and (max-width:900px){
  div.parallax.ng-scope{
    display: block;
    background-size: 140%;
    background-position: -40px 100px;
  }
}
@media screen and (max-width: 991px){
  div#toggle-menu.container0.visible{
    margin-top: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 950px){
  img.mybottom.mySlides{
    padding-bottom: 0px;
  }
}
@media screen and (min-width:769px) and (max-width:991px){
  .navbar {
    flex-direction: row;
  }
  ul.navbar-nav.mr-auto{
    flex-direction: row;

  }
  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
@media screen and (min-width:931px) and (max-width:991px){
  button#goner.navbar-toggler.navbar-toggler-right{
    display: none;
  }
}
@media screen and (min-width:769px) and (max-width:900px){
  a.navbar-brand{
    display: none;
  }
}
@media screen and (min-width:769px) and (max-width:840px){
  li.one.nav-item{
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 930px) {
.marginright {
  margin-right: 30px;
}
@media screen and (max-width: 850px) {
  .diamond1 {

    display: none;

  }

  .diamond1:after {

    display: none;

  }
}
@media screen and (max-width: 768px) {
  .nav#navbar.nav-collapse.navbar.navbar-toggleable-md.navbar-light.bg-faded{
    background-color: rgba(255, 255, 255, 1);
  }
  div#toggle-menu.container0.visible{
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .nav-item{
    display: none;

  }
  div.submitFormFormat.ng-scope{
    width:95%;
  }
  button#goner{
    margin-top: 8px;
  }
}
@media screen and (max-width: 768px) {

  .marginleft {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    text-align: center;
  }
  .marginright {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    text-align: center;
  }
  .pad {
    text-align: center;
  }
  .pic5{
    width: 60%;
    margin-bottom: 10px;
  }
  .para{
    width: 60%;
    margin: auto;
    margin-bottom: 50px;

  }
  .paratop{
    width: 60%;
  }
}
@media screen and (max-width: 890px) {
  #none1, .none1{
    display: none;
  }
}
@media screen and (min-width: 930px) {
  .navbar-light .navbar-toggler{
    display: none;
  }
}

@media screen and (max-width: 769px) {

  .gone{
    display: none;
  }
}
@media screen and (min-width: 769px) {
  div#toggle-menu.visible {
    display: inline-block;


  }
  button#goner.navbar-toggler.navbar-toggler-right{
    display: none;
  }
}
@media screen and (max-width: 680px) {
  div.diamonddiv{
    width: 80%;
  }
  div.submain{
    height: 700px;
  }
  .lilsmaller{
    font-size: 1em;
  }
}

@media screen and (max-width: 579px) {
  div.submain{
    height: 770px;
  }
}
