<div class="container4">
  <div class="row about" id="gallery">
    <div class="col-md-6 col-centered marginx">
      <h2 class="aboutsign">Gallery</h2>
      <p class="paratop">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
    </div>
    <!-- <div class="contained">
	<div class="galleryItem">
		<a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
		<h3>Title</h3>
		<p>Lorem ipsum dolor sit amet...</p>
	</div>

	<div class="galleryItem">
		<a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
		<h3>Title</h3>
		<p>Lorem ipsum dolor sit amet...</p>
	</div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
  <div class="galleryItem">
    <a href="#"><img src="pics/empty_gallery.png" alt="" /></a>
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet...</p>
  </div>
</div> -->
<h2 class="w3-center"></h2>

<div class="w3-content w3-display-container">
  <img class="mybottom mySlides" src="pics/pic2.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic3.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic3.3.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic4.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic5.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic6.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic7.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic9.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic10.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic11.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic12.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic13.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic14.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic15.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic16.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic17.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic18.jpg" style="width:100%">
  <img class="mybottom mySlides" src="pics/pic19.jpg" style="width:100%">

  <button id="back" class="w3-button w3-black w3-display-left">&#10094;</button>
  <button id="forward" class="w3-button w3-black w3-display-right">&#10095;</button>
</div>


</div>
